#accounts-title, .heading {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#budget-info, #current-month {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#budgeted-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#budgeted-amount {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
}

#new-account-button {
    font-size: 18px;
}
/* For Modal */

.modal {
    transition: opacity 0.25s ease;
}
body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}