#accounts-title, .heading {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#budget-info {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

/* For Modal */

.modal {
    transition: opacity 0.25s ease;
}
body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}